@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "../../styles/placeholders";

.logoContainer {
  @include m.flexBox(column, center, center, 0.5rem);

  & {
    @media (min-width: 1440px) {
      margin-right: 7rem;
      margin-top: 2rem;
    }
  }

  .logoStyling {
    display: block;
    width: 60px;
    height: 60px;
    background: v.$light-green-color;
    border-radius: 100%;

    @media (min-width: 1440px) {
      width: 76px;
      height: 76px;
    }
  
    img {
      margin-top: 12%;
      margin-left: 5%;
      width: 70%;
      filter: invert(100%);

      @media (min-width: 1400px) {
        margin-left: 1%;
       }
    }
  }
  h3 {
    @extend %marck-font;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
    padding-bottom: 1rem;
  }
}


