@use "../../styles/variables" as v;
@use "../../styles/placeholders";

.logoStyling {
  display: block;
  width: 60px;
  height: 60px;
  background: v.$light-green-color;
  border-radius: 100%;

  img {
    margin-top: 12%;
    margin-left: 5%;
    width: 70%;
    filter: invert(100%);
  }
}
h3 {
  @extend %marck-font;
  font-weight: 400;
  font-size: 26px;
  margin: 0;
  padding-bottom: 1rem;
}
