@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;
@use "../../../styles/placeholders";

.headerStyling {
  @include m.flexBox(column, center, center);
  background: v.$gray-white-color;
  width: 150px;
  height: 170px;
  margin-left: 7%;
  border-radius: 8px;
  padding: 0rem 5rem;
  position: absolute;
  top: 40%;
  z-index: 9999;

  & {
    @media (min-width: 1440px) {
      width: 1114px;
      height: 150px;
      margin-left: 6%;
    }
  }

  h2 {
    color: v.$dark-gray-color;
    width: 299px;
    margin: 0;
    text-align: center;
  }
}
