@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Karma:wght@300;400;500;600;700&family=Marck+Script&display=swap");

html {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
}
