@use "../../../styles/mixins" as m;
@use "../../../styles/placeholders";

.navStyling {
  margin: 0;
  padding: 0;
  @include m.flexBox(row, space-evenly, center, 0.5rem);

  li {
    list-style: none;
    @extend %karla-font;
    font-size: 23px;

    a {
      text-decoration: none;
    }
  }
}
