@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;

.articleStyling {
  @include m.flexBox(column, center, center);
  background: v.$main-white-color;
  width: 80%;
  margin-left: 6%;
  margin-top: 8rem;
  margin-bottom: 1.7rem;
  padding: 0rem 0.5rem;
  box-shadow: 1.5px 2px 5px 2px #00000026;
  border-radius: 16px;

  @media (min-width: 1440px) {
    width: 1000px;
    margin-left: 15%;
  }
}
