@use "../../../../styles/mixins" as m;
@use "../../../../styles/variables" as v;
@use "../../../../styles/placeholders";

.headerStyling {
    @include m.flexBox(row, center, center);

    img {
        width: 40%;
    }

    h2 {
        @extend %karma-font;
        color: v.$dark-green-color;
        text-transform: capitalize;
    }
}